<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{questionCategory.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{questionCategory.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/questionCategories}" class="btn btn-secondary">[[#{questionCategory.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('questionCategory')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='questionCategory', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='questionCategory', field='category')}" />
                <div th:replace="~{fragments/forms::inputRow(object='questionCategory', field='order', type='number')}" />
                <input type="submit" th:value="#{questionCategory.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
