<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{userAnswer.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userAnswer.add.headline}]]</h1>
                <div>
                    <a th:href="@{/userAnswers}" class="btn btn-secondary">[[#{userAnswer.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('userAnswer')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='userAnswer', field='userAnswer')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userAnswer', field='created', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userAnswer', field='users', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userAnswer', field='answers', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='userAnswer', field='solutions', type='select')}" />
                <input type="submit" th:value="#{userAnswer.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
