<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{field.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{field.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/fields}" class="btn btn-secondary">[[#{field.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('field')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='field', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='lat')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='longg')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='cropType')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='hbm')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='createdAt', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='field', field='users', type='select')}" />
                <input type="submit" th:value="#{field.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
